{% extends "layout.html" %}

{% block body %}
<section class="area-login">
    <div class="login">
        <h1 class="titulo">WORLD PHONE LIST</h1>
        <div>
            <img id="image" src="/static/logo.ico" alt="Logo">
        </div>
        <form action="/login" method="post" autocomplete="off">
            <input class="logs-place" type="text" name="useremail" placeholder="User Email" autofocus>
            <input class="logs-place" type="password" name="password" placeholder="Password">
            <input class="logs-place" type="submit" value="Log in">
        </form>
        <br><br><br><br><p>Not Registered Yet?<a class="logs" href="/register">Register</a></p>
        <footer>
            <a class="copyright" href="https://www.linkedin.com/in/paulo-j%C3%BAnior-b1bb92243/"">
                <p id="copy">PauloJunior &copy; 2022</p>
            </a>
        </footer>
    </div>

</section>

{% endblock %}