{% extends "index.html" %}

{% block body %}
<section class="area-register">
    <div class="register">
        <h1 class="titulo">Register</h1>
        <div>
            <img id="image" src="/static/logo.ico" alt="Logo">
        </div>
        <form action="/register" method="post" autocomplete="off">
            <input class="logs-place" type="text" name="username" placeholder="Write your full name" autofocus>
            <input class="logs-place" type="email" name="useremail" placeholder="Enter your email">
            <input class="logs-place" type="tel" name="usernumber" placeholder="Number: (EX:(+123) 9999-9999)">
            <input class="logs-place" type="password" name="password" placeholder="Password">
            <input class="logs-place" type="password" name="confirmation" placeholder="Confirm your password">
            <input class="logs-place" type="submit" value="Register">
        </form>
        <p><a class="logs" href="/">Log In</a></p>
        <footer>
            <a class="copyright" href="https://www.linkedin.com/in/paulo-j%C3%BAnior-b1bb92243/"">
                <p id="copy">PauloJunior &copy; 2022</p>
            </a>
        </footer>
    </div>
</section>
{% endblock %}
